.btn {
    background-color: transparent;
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 117, 183, 0.9);
    color:rgba(0, 117, 183, 1);
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}