.wrapper {
    padding: 20px 0;
}

.pageTitle {
    color: rgba(0, 117, 183, 0.95);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.pageContent {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.pageContent span {
    margin-right: 5px;
    font-size: 18px;
}

.funcSelect select{
    font-size: 18px;
}

.settingsBlock {
    border: 1px solid rgba(0, 117, 183, 0.4);
    border-radius: 5px;
    border-top-left-radius: 0;
    padding: 10px;
    position: relative;
    margin-top: 40px;
}

.blockTitle {
    display: flex;
    align-items: center;
    position: absolute;
    top: -25px;
    left: -1px;

    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;

    padding: 0 4px;
    border: 1px solid rgba(0, 117, 183, 0.4);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.blockTitle img{
    margin-right: 5px;
    width: 17px;
    transition: 4s ease;
}

.blockTitle:hover img {
    transform: rotate(360deg);
}

.methodSettings > div {
    margin-right: 25px;
}

.methodSettings {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blockInp {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 117, 183, 0.9);
    transition: 500ms;
}

.blockInp:hover {
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.12);
}

.blockInp span {
    padding-left: 7px;
    color:  rgba(46, 48, 49, 0.9);
    font-size: 16px;
}

.blockInp input{
    height: 30px;
    width: 50px;
    text-align: center;
    border: 1px solid transparent;
    border-left: 1px solid rgba(185, 186, 189, 0.9);
    border-radius: 0 5px 5px 0;
    color: rgba(0, 117, 183, 0.9);
}

.buildBtn {
    padding: 10px 15px;
    border-radius: 15px;
}

.chartBlock {
    margin-top: 20px;
}

.chartBlock > div {
    height: 800px!important;
}