.cell input {
    margin: 2px;
    width: 40px;
    height: 22px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgba(0, 117, 183, 0.9);
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.09);
  }